$primary:       #ffffff;
$secondary:     #f5abc9;
$success:       #867ae9;
$info:          #0a1931;
$warning:       #0a81ab;
$danger:        #0c4271;
$light:         #f9dfdc;
$dark:          #000000;


@import "../node_modules/bootstrap/scss/bootstrap";

